/*Main menu design*/
.menuProject {
    /* PROJECT */
    position: absolute;
    width: 91px;
    height: 16px;
    left: 152px;
    top: 55px;
    z-index: 1;

    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 16px;

    letter-spacing: 0.1em;
    text-transform: uppercase;
    text-decoration: none;

    color: #FFFFFF;

  }
  
  .menuProjects{
    position: relative;
    width: 100px;
    height: 16px;
    left: 400px;
    top: 46px;
    z-index: 1;

    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;

    letter-spacing: 0.2em;
    text-transform: uppercase;
    text-decoration: none;

    color: #FFFFFF;

  }
  
  .menuLine{
    position: absolute;
    width: 80px;
    height: 0px;
    left: 521px;
    top: 71px;
    z-index: 1;

    border: 2px solid #FFFFFF;
  }
  
  .menuAboutUs{
    position: absolute;
    width: 100px;
    height: 16px;
    left: 600px;
    top: 63px;
    z-index: 1;

    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;

    letter-spacing: 0.2em;
    text-transform: uppercase;

    color: #FFFFFF;

  }
  
  .menuStories{
    position: absolute;
    width: 67px;
    height: 16px;
    left: 780px;
    top: 63px;
    z-index: 1;

    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;

    letter-spacing: 0.2em;
    text-transform: uppercase;
    text-decoration: none;

    color: #FFFFFF;
  }

  .menuContact{
    position: absolute;
    width: 73px;
    height: 16px;
    left: 930px;
    top: 63px;
    z-index: 1;

    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;

    letter-spacing: 0.2em;
    text-transform: uppercase;
    text-decoration: none;

    color: #FFFFFF;
  }

  .container {
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
  }

  .column{
    flex-basis: 25%;
  }

  footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .footerColumn {
    flex: 1;
    margin: 0 10px;
  }
  