.textButton{
    font-family: 'Oswald Regular';
    font-size: 14px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 0.1em;
    color: #FFFFFF;
}

.playButton{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color:  #39C2D7;
    color: #FFFFFF;
    font-size: 75px;
    line-height: 50px;
    border: 2px solid #55C2D8;
}

.detailsButton{

    margin: 10px auto;
    background: #55C2D8;
    border-radius: 18px;
    border: 2px solid #55C2D8;
}


